@import 'https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400';

body {
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  font-size: 100%;
  vertical-align: baseline;
  line-height: 1;
  -webkit-text-size-adjust: none;
  max-width: 1500px;
  margin-top: 80px;
  padding: 30px;
  color: white;
  background-color: #935d8c;
  background-image: url("../../images/overlay.png"), -moz-linear-gradient(45deg, #e37682 15%, #75c828 85%);
  background-image: url("../../images/overlay.png"), -webkit-linear-gradient(45deg, #e37682 15%, #75c828 85%);
  background-image: url("../../images/overlay.png"), -ms-linear-gradient(45deg, #e37682 15%, #75c828 85%);
  background-image: url("../../images/overlay.png"), linear-gradient(45deg, #e37682 15%, #75c828 85%);
}

#head { text-align: center; }
#head img { max-width: 150px; }
#head h1 { font-weight: bold; }
a {
  color: white;
  text-decoration: none;
  transition: .3s;
}
a:hover { color: lightcoral; }
#dreamnet:hover { color: #fdcc10; }

.main {
  color: black;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.main h2 {
  color: #454545;
  font-size: 150%;
  font-weight: bold;
}
.main h3 {
  color: #787878;
  font-size: 125%;
}
.main hr { border: 1px dashed darkgray; }

#intro, #sensor {
  border: 1px solid darkgray;
  background-color: white;
  border-radius: 5px;
  padding: 1em;
  margin: 1em;
}
#raspberryImg {
  width: 250px;
}
@media screen and (max-width: 600px) {
  #intro, #sensor {
    margin: 1em 0;
  }
}

/* 2 column layout */
.twoColumn {
  flex-basis: 45%;
  margin: auto;
}
.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
  align-content: center;
  text-align: center;
  margin: 0 1em;
}
.row img {
  max-width: 250px;
  display: block;
  margin: 1em auto;
}
.row h3 { text-align: center; }
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
/* Responsive layout - when the screen is less than 600px wide, make the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .twoColumn {
    flex-basis: 100%;
  }
  .row img {
    max-width: 200px;
  }
}

/* Menu */
header {
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  display: flex;
  align-items: center;
  box-shadow: 0 0 25px 0 black;
}
header img {
  height: 80px;
  margin-left: 40px;
}
header * { display: inline; }
header li { margin: 20px; }
header li a {
  color: black;
  text-decoration: none;
}
@media screen and (max-width: 600px) {
  header {
    position: absolute;
  }
  header img {
    height: 80px;
    margin-left: 15px;
  }
  header ul { padding-inline-start: 0; }
  header li {
    display: block;
    margin: 10px;
    text-align: right;
    float: left;
  }
}

/* Footer */
footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  margin-top: 1em;
  padding: .5em;
  font-size: 85%;
  background-color: #454545;
  text-align: center;
}
footer #credits { letter-spacing: .15em; }
footer #creditsMobile { display: none; }
@media screen and (max-width: 600px) {
  footer {
    display: block;
    font-size: 70%;
  }
  footer #credits { display: none; }
  footer #creditsMobile { display: block; }
}
