# Git ignore of PiSense
# Graduation work of Melvin Campos Casares
# See repository at github.com/melvinmajor/tfe-PiSense
#=====================================================

# Python virtual environment
*.pyc
__pycache__
*/.env/*
*/.mypy_cache/*
.cache/

# Database
app.db
pisenseapp/tests/*.db

# Log and local json file
*.log*
bme280data*.json
bme680data*.json
sds011data*.json

# IDE folders and files
*/.idea/*
.idea/*

# Sensible files for Nginx/Let's Encrypt
dhparam-2048.pem
