.aqi-container {
  border: 3px solid rgba(0, 0, 0, .2);
  border-radius: 10px;
  margin: 10px;
  text-align: center;
  padding: 10px;
}
.aqi-label { font-weight: bold; }
.aqi {
  font-size: 5em;
  font-weight: bold;
}
.pm-label { font-style: italic; }
.time-label { text-align: center; }
.time { font-weight: lighter; }

.aqi-legend {
  font-style: italic;
  font-size: .8em;
}
.foo {
  float: left;
  margin: 5px;
}
.lime { color: lime; }
.yellow { color: yellow; }
.orange { color: orange; }
.red { color: red; }
.purple { color: purple; }
.brown { color: brown; }
#aqiLegend { clear: both; }