@import 'https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400';

body {
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    font-size: 100%;
    vertical-align: middle;
    line-height: 1;
    -webkit-text-size-adjust: none;
    min-width: 800px;
    margin: 80px auto 0;
    padding: 0 30px 30px;
    background: url("../images/background.webp") no-repeat;
    background-size: cover;
}

h1 {
    color: #454545;
    font-size: 150%;
    font-weight: bold;
}
h2 {
    color: #676767;
    font-size: 125%;
}
p { color: #454545; }

blockquote {
    background: #f9f9f9;
    border-left: 5px solid #676767;
    border-radius: 5px;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D";
}
blockquote:before {
    color: #676767;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}
blockquote p {
    display: inline;
    border-radius: 5px;
}
footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    position: absolute;
    bottom: auto;
    left: 0;
    width: 100%;
    min-width: 800px;
    margin-top: 1em;
    font-size: 75%;
    background-color: #454545;
    text-align: center;
    color: white;
}
footer a {
    color: white;
    transition: .5s ease;
}
footer #dreamnet:hover { color: #fdcc10; }
footer a:hover {
    color: lightcoral;
    text-shadow: none;
}
footer #credits {
    letter-spacing: .15em;
    text-transform: uppercase;
    margin: .5em 0;
}

.intro { text-align: center; }
.intro-logo {
    width: 50px;
    padding-top: 10px;
}

.container {
    border-radius: 10px;
    border: 5px solid #d2d2d2;
    background-color: rgba(246, 246, 246, 0.85); /* 85% opaque white */
    /* background: rgb(246,246,246); */
    background: -moz-radial-gradient(circle, rgba(246,246,246,0.85) 0%, rgba(230,230,230,0.85) 75%, rgba(220,220,220,0.85) 100%);
    background: -webkit-radial-gradient(circle, rgba(246,246,246,0.85) 0%, rgba(230,230,230,0.85) 75%, rgba(220,220,220,0.85) 100%);
    background: radial-gradient(circle, rgba(246,246,246,0.85) 0%, rgba(230,230,230,0.85) 75%, rgba(220,220,220,0.85) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f6f6f6",endColorstr="#dcdcdc",GradientType=0.85);
    margin: 15px 0;
    padding: 10px 0 0;
    min-width: 740px;
}

.flex-row-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    text-align: center;
    margin: 0 1em;
    align-items: baseline;
}

.flex-row-container img {
    display: block;
    margin: 1em auto;
    opacity: initial;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Columns layout */
.twoColumn, .threeColumn {
    margin: auto;
    text-align: left;
    transition: 750ms ease;
    flex-grow: 1;
    flex-shrink: 1;
}
.twoColumn { flex-basis: 45%; }
.threeColumn { flex-basis: 30%; }

.aqi-container, .env-container {
    border: 3px solid;
    border-radius: 10px;
    width: 180px;
    float: left;
    margin: 10px;
    text-align: center;
    padding: 10px;
}

.aqi, .env {
    font-size: 5em;
    font-weight: bold;
}

.pm-label, .env-label { font-style: italic; }

.time { text-align: center; }

#airQualityTable { margin: 250px auto; }
