{% extends "_baseError.html" %}

{% block content %}
<a href="index.html"><button type="button" class="btn btn-light" id="shrink">Retour à l'accueil</button></a>
<div id="head">
  <img src="/static/images/PiSense_logo.png" alt="PiSense logo">
  <h1>PiSense</h1>
  <p><em>Une solution IoT de prise de mesures</em>
    <br><small>Créé par Melvin Campos Casares pour <a href="https://dreamnetbe.net/" id="dreamnet">Dreamnet SRL</a>.</small></p>
</div>
<div class="main">
  <section id="box1" class="main">
    <h2>{{ page }} - <em>Accès refusé</em></h2>
    <hr>
    <h3><strong>Vous ne disposez pas des droits pour accéder à ce contenu.</strong></h3>
    <p>Utilisez le bouton ci-dessus pour retourner à la page d'accueil.</p>
  </section>
</div>
{% endblock %}