<!DOCTYPE html>
<html lang="fr">
{% include "_head.html" %}
<body>
  <a href="index.html"><button type="button" class="btn btn-light" id="shrink">Retour à l'accueil</button></a>
  <div id="head">
    <img src="/static/images/PiSense_logo.png" alt="PiSense logo">
    <h1>PiSense</h1>
    <p><em>Une solution IoT de prise de mesures</em>
      <br><small>Créé par Melvin Campos Casares pour <a href="https://dreamnetbe.net/" id="dreamnet">Dreamnet SRL</a>.</small></p>
  </div>
{% block content %}{% endblock %}
</body>
</html>