<footer>
  <div id="credits">
    <div class="row" id="restOfTheFooter">
      <section class="threeColumn" id="footerMenu">
        <p>Menu</p>
        <ul>
          <li><a href="index.html">Accueil</a></li>
          <li><a href="order.html">Commander</a></li>
          <li><a href="register.html">Connexion/Enregistrement</a></li>
          <li><a href="userPlatform.html">Profil</a></li>
          <li><a href="about.html">A propos</a></li>
          <li><a href="https://github.com/melvinmajor/tfe-PiSense" target="_blank">GitHub</a></li>
        </ul>
      </section>
      <section class="threeColumn" id="footerDescription">
        <p><em><u>Appareil de prise de mesures environnementales :</u></em></p>
        <p id="descriptionSensorPicksUp">température, humidité, pression atmosphérique, qualité de l'air (PM2.5 et PM10), composés organiques volatils totaux, dioxyde de carbone</p>
      </section>
      <section class="threeColumn" id="footerSocial">
        <p>Dreamnet est sur Facebook, suivez-nous ou contactez-nous <i class="fas fa-smile-wink" style="color: #ffd54f;"></i></p>
        <a href="https://www.facebook.com/dreamnetbe/"><i class="fab fa-facebook-square" id="footerSocialIcons"></i></a>
        <a href="https://m.me/dreamnetbe"><i class="fab fa-facebook-messenger" id="footerSocialIcons"></i></a>
      </section>
    </div>
    <div id="realCredits"><a href="index.html">PiSense</a> © 2020 - <a href="https://dreamnetbe.net/" id="dreamnet">Dreamnet SPRL</a> | environmental measurement device | Design: Melvin Campos Casares</div>
  </div>
  <div id="creditsMobile">
    <p><a href="#">PiSense</a> © 2020 - <a href="https://dreamnetbe.net/" id="dreamnet">Dreamnet SPRL</a></p>
    <p>Design: Melvin Campos Casares</p>
  </div>
</footer>