<header>
  <img src="/static/images/PiSense_logo.png" alt="PiSense logo">
  <nav id="nav">
    <ul>
      <li><a href="index.html">Accueil</a></li>
      <li><a href="order.html">Commander</a></li>
      <li><a href="userPlatform.html">Profil</a></li>
      <li><a href="platform.html">Plateforme</a></li>
      <li><a href="about.html">A propos</a></li>
      <li><a href="register.html" id="showOnMobileOnly">Connexion/Enregistrement</a></li>
    </ul>
  </nav>
  <a class="connectRegister" href="register.html" id="showOnDesktopOnly">Connexion/Enregistrement</a>
</header>