{% extends "_base.html" %}

{% block content %}
<div id="head">
  <h1>PiSense</h1>
  <p><em>Une solution IoT de prise de mesures</em>
    <br><small>Créé par Melvin Campos Casares pour <a href="https://dreamnetbe.net/" id="dreamnet">Dreamnet SRL</a>.</small></p>
</div>
<div class="main">
  <section id="box1" class="main">
    <h2>Plateforme</h2>
    <hr>
    <p><strong>Bienvenu {{ user_firstname }} {{ user_name }} !</strong></p>
    <p>D'après votre profil, vous disposez des capteurs suivants : <em>{{ user_sensors }}</em>
      <br>Votre identificateur PiSense est : <strong>{{ user_boxid }}</strong></p>
  </section>
  <section id="box2" class="main">
    <h2>Données</h2>
    <hr>
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="alert-heading">Développement en cours</h4>
      <p>Les données affichées ne sont pas nécessairement des informations correctes.
        <br>L'indice de qualité de l'air est effectivement une suite de données récupérée à un instant T par le capteur SDS011.
        <br>Concernant la partie des graphiques, ils affichent en temps réel les données envoyées par l'appareil et stocké dans la base de données.</p>
      <div class="progress">
        <div class="progress-bar bg-info progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 85%"></div>
      </div>
    </div>

    <div class="container">
      <h2>Indice de qualité de l'air</h2>
      <hr>
      <p class="time-label"><em>Dernière mise à jour <small>(JJ.MM.AAAA HH:MM:SS)</small> :</em> <span class='time' id="time"></span></p>
      <div class="row">
        <div class='aqi-container twoColumn' id="containerPm25">
          <div class='aqi-label'>AQI (PM2.5)</div>
          <div class='aqi' id="aqiPm25"></div>
          <div class='pm-label' id="pm25"></div>
        </div>
        <div class='aqi-container twoColumn' id="containerPm10">
          <div class='aqi-label'>AQI (PM10)</div>
          <div class='aqi' id="aqiPm10"></div>
          <div class='pm-label' id="pm10"></div>
        </div>
      </div>

      <div class="row aqi-legend">
        <br>
        <div class="foo fa fa-circle lime"></div>0 à 50, bon
        <div class="foo fa fa-circle yellow"></div>51 à 100, moyen
        <div class="foo fa fa-circle orange"></div>101 à 150, mauvais pour les groupes sensibles
        <div class="foo fa fa-circle red"></div>151 à 200, mauvais
        <div class="foo fa fa-circle purple"></div>201 à 300, très mauvais
        <div class="foo fa fa-circle brown"></div>301 à 500, danger !
      </div>
      <!-- AQI graph -->
      <div class="centered graph">
        <object data="https://s74.cwb.ovh/graph.html" class="graph">
          <embed src="https://s74.cwb.ovh/graph.html" class="graph">
        </object>
      </div>
    </div>
    <script>
      getData();
      setInterval(getData, 60000);
    </script>

    <div class="container">
      <h2>Température, humidité, pression atmosphérique</h2>
      <hr>
      <!-- Temperature graph -->
      <div class="centered graph">
        <object data="https://s74.cwb.ovh/graph2.html" class="graph">
          <embed src="https://s74.cwb.ovh/graph2.html" class="graph">
        </object>
      </div>
      <!-- Humidity graph -->
      <div class="centered graph">
        <object data="https://s74.cwb.ovh/graph4.html" class="graph">
          <embed src="https://s74.cwb.ovh/graph4.html" class="graph">
        </object>
      </div>
      <!-- Atmospheric pressure graph -->
      <div class="centered graph">
        <object data="https://s74.cwb.ovh/graph3.html" class="graph">
          <embed src="https://s74.cwb.ovh/graph3.html" class="graph">
        </object>
      </div>

    </div>
  </section>
</div>
{% endblock %}
