{% extends "_base.html" %}

{% block content %}
<div id="headOrder">
  <h1>PiSense</h1>
  <p><em>Une solution IoT de prise de mesures</em>
    <br><small>Créé par Melvin Campos Casares pour <a href="https://dreamnetbe.net/" id="dreamnet">Dreamnet SPRL</a>.</small></p>
</div>
<div class="main rowBoxWithAside">
  <section id="boxLeft" class="main">
    <h2>Connexion</h2>
    <hr>
    <form>
      <div class="form-group">
        <label for="connectInputEmail">Adresse e-mail</label>
        <input type="email" class="form-control" id="connectInputEmail" aria-describedby="emailHelp">
        <small id="emailHelp" class="form-text text-muted">Nous ne partagerons jamais votre e-mail avec quelqu'un d'autre.</small>
      </div>
      <div class="form-group">
        <label for="connectInputPassword">Mot de passe</label>
        <input type="password" class="form-control" id="connectInputPassword">
      </div>
      <button type="submit" class="btn btn-primary" id="shrink">Se connecter</button>
    </form>
  </section>
  <section id="boxRight" class="main">
    <h2>Enregistrement</h2>
    <hr>
    <p id="registerHelp" class="text-muted"><small>Les éléments indiqués avec une astérisque * sont marqué <u>obligatoire</u></small></p>
    <form>
      <div class="form-group">
        <label for="registerFormEmail">Adresse e-mail *</label>
        <input type="email" class="form-control" id="registerFormEmail" placeholder="name@example.com" required>
      </div>
      <div class="rowColumnForm">
        <div class="form-group twoColumnForm">
          <label for="registerFormPassword">Mot de passe *</label>
          <input type="password" class="form-control" id="registerFormPassword" required>
        </div>
        <div class="form-group twoColumnForm">
          <label for="registerConfirmFormPassword">Confirmation du mot de passe *</label>
          <input type="password" class="form-control" id="registerConfirmFormPassword" required>
        </div>
      </div>
      <div class="rowColumnForm">
        <div class="form-group twoColumnForm">
          <label for="registerFormFirstname">Prénom *</label>
          <input type="text" class="form-control" id="registerFormFirstname" required>
        </div>
        <div class="form-group twoColumnForm">
          <label for="registerFormName">Nom *</label>
          <input type="text" class="form-control" id="registerFormName" required>
        </div>
      </div>
      <div class="form-group">
        <label for="registerFormPhone">Numéro de téléphone</label>
        <input type="tel" class="form-control" id="registerFormPhone" placeholder="+32123456789" pattern="[+32][0-9]{3}[0-9]{2}[0-9]{2}[0-9]{2}">
        <small id="phoneHelp" class="form-text text-muted">Respectez bien le format : +32123456789</small>
      </div>
      <div class="form-group">
        <label for="registerFormBirthdate">Date de naissance *</label>
        <input type="date" class="form-control" id="registerFormBirthdate" required>
      </div>
      <div class="rowColumnForm">
        <div class="twoColumnForm"><div class="g-recaptcha" data-theme="dark" data-sitekey="6LdT5uMUAAAAAAFjzkBuM76r3YByf9VWc9YjbPzk"></div></div>
        <div class="twoColumnForm"><button type="submit" class="btn btn-primary" id="shrink">S'enregistrer</button></div>
      </div>
    </form>
  </section>
</div>
{% endblock %}