@import 'https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400';

body {
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  font-size: 100%;
  vertical-align: middle;
  line-height: 1;
  -webkit-text-size-adjust: none;
  max-width: 1500px;
  margin: 80px auto 0;
  padding: 30px;
  color: white;
  background-color: #3f8726;
  background-image: url("../../images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#head, #headOrder { text-align: center; }
#head img {
  max-width: 200px;
  -webkit-filter: drop-shadow(0 0 35px #fff);
  filter: drop-shadow(0 0 35px #fff);
}
#head h1, #headOrder h1 { font-weight: bold; }
a {
  color: white;
  text-decoration: none;
  transition: .3s;
}
a:hover { color: lightcoral; }
#dreamnet { text-decoration: underline; }
#dreamnet:hover {
  color: #fdcc10;
  text-shadow: none;
}
#headOrder, #headOrder a { color: darkgray; }
#headOrder { text-shadow: 0px 2px 2px rgba(255, 255, 255, 0.7); }

.main {
  color: black;
  vertical-align: middle;
  max-width: 1200px;
  margin:0 auto;
}
.main h2 {
  color: #454545;
  font-size: 150%;
  font-weight: bold;
}
.main h3 {
  color: #787878;
  font-size: 125%;
}
.main hr { border: 1px dashed darkgray; }
#box1, #box2 {
  border: 1px solid darkgray;
  background-color: rgba(255, 255, 255, 0.85); /* 85% opaque white */
  border-radius: 5px;
  padding: 1em;
  margin: 1em;
}
#nginx { max-width: 170px; }

/* Columns layout */
.twoColumn, .threeColumn {
  margin: auto;
  text-align: left;
}
.twoColumn { flex-basis: 45%; }
.threeColumn { flex-basis: 32%; }
.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
  align-content: center;
  text-align: center;
  margin: 0 1em;
}
.row img {
  max-width: 250px;
  display: block;
  margin: 1em auto;
  opacity: initial;
}
.row h3 { text-align: center; }
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Menu */
header {
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  display: flex;
  align-items: center;
}
header img {
  height: 80px;
  margin-left: 40px;
}
header * { display: inline; }
header li { margin: 20px; }
header li a {
  color: black;
  text-decoration: none;
}

/* Footer */
footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  position: absolute;
  bottom: auto;
  left: 0;
  width: 100%;
  margin-top: 1em;
  padding: 1.5em .5em;
  font-size: 85%;
  background-color: #454545;
  text-align: center;
}
footer #credits { letter-spacing: .15em; }
footer #credits #restOfTheFooter { text-align: left; }
footer #credits #restOfTheFooter ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-weight: lighter;
  text-transform: uppercase;
}
#footerMenu { flex-basis: 50px; }
footer #credits #restOfTheFooter ul li { padding: 0 0 .5em 0; }
footer #credits section { letter-spacing: 0; }
#realCredits {
  margin: 1em 0 0 0;
  text-transform: uppercase;
}
#footerDescription {
  font-weight: lighter;
}
#descriptionSensorPicksUp { text-transform: uppercase; }
#footerSocial {
  font-size: 115%;
  font-weight: lighter;
}
#social a { margin-right: 1em; }
#footerSocialIcons {
  font-size: 200%;
  justify-content: space-between;
}
footer #creditsMobile {
  display: none;
  text-transform: uppercase;
}
footer #creditsMobile p { margin: .5em 0; }

/* Responsive part */
@media screen and (max-width: 600px) {
  body {
    min-width: 400px;
    background-image: none;
  }
  #head img {
    max-width: 125px;
    -webkit-filter: drop-shadow(0 0 15px #fff);
    filter: drop-shadow(0 0 15px #fff);
  }
  #headOrder { text-shadow: none; }
  #box1, #box2 { margin: 1em 0; }
  /* Responsive layout - columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .twoColumn, .threeColumn { flex-basis: 100%; }
    .row img { max-width: 200px; }
  }
  /* Menu */
  header {
    min-width: 400px;
    height: auto;
    position: absolute;
  }
  header img {
    height: 65px;
    margin-left: 15px;
  }
  header ul { padding-inline-start: 0; }
  header li {
    display: block;
    margin: 10px;
    text-align: right;
    float: left;
  }
  /* Footer */
  footer {
    min-width: 400px;
    display: block;
    font-size: 80%;
  }
  footer #credits { display: none; }
  footer #creditsMobile { display: block; }
}
