{% extends "_baseError.html" %}

{% block content %}
<div class="main">
  <section id="box1" class="main">
    <h2>{{ page }} - <em>Requête non autorisée</em></h2>
    <hr>
    <h3><strong>La méthode POST de la requête n'est pas autorisée</strong></h3>
    <p>Cela signifie que la requête n'aboutit sans doute pas.
    <br>Veuillez patienter avant de réessayer ou en informer l'administrateur du site internet.
    <br>C'est tout ce que nous savons.
    <br>Utilisez le bouton ci-dessus pour retourner à la page d'accueil.</p>
  </section>
</div>
{% endblock %}