{% extends "_baseError.html" %}

{% block content %}
<div class="main">
  <section id="box1" class="main">
    <h2>{{ page }} - <em>Une erreur s'est produite</em></h2>
    <hr>
    <p>Désolé, la page que vous recherchez est actuellement indisponible.
    <br>Veuillez réessayer plus tard.</p>
    <p>Si vous êtes l'administrateur système de cette ressource, vous devez vérifier le journal des erreurs pour plus de détails.</p>
    <p><em>Fidèlement vôtre,</em></p>
    <br>
    <img src="/static/images/nginx.png" id="nginx"> <img src="/static/images/flask.png" id="flask">
  </section>
</div>
{% endblock %}